!!! 5
%head
  %meta{'charset' => 'utf-8'}/

  %title='D-Video'
  %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}/

  %link{'rel' => 'stylesheet', 'href' => 'css/main.css'}/
%body
  %div#media
    %div.list
    %div.controls
    	%span.edit !
    	%span.del x
    	%span.add +