!!! 5
%head
  %meta{'charset' => 'utf-8'}

  %title='D-Video'
  %meta{'name' => 'viewport', 'content' => 'width=device-width,initial-scale=1'}

  %link{'rel' => 'stylesheet', 'href' => '/css/main.css'}
  %script{'src'  => '/js/vendor/require.js', 'data-main' => '/js/main'}
  :javascript
    window.dVideo = {
      bootstrap: {
        media: #{media}
      }
    }
%body
  #medium
    .selection
    .display
    .controls
  #content
    .selection
    .display
    .controls